<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="RoomManagementNewEntities" connectionString="metadata=res://*/ModelRoomManagement.csdl|res://*/ModelRoomManagement.ssdl|res://*/ModelRoomManagement.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=USER-PC\SQLEXPRESS;Initial Catalog=RoomManagementNew;User ID=sa;Password=sa123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>