<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="RoomManagementNewEntities" connectionString="metadata=res://*/ModelRoom.csdl|res://*/ModelRoom.ssdl|res://*/ModelRoom.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=RoomManagementNew;User ID=DESKTOP-FDMMOBC\pc;Password=;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>